.card__delete-button {
  --size: 18px;
  --spacing: 15px;

  display: none;
  width: var(--size);
  height: var(--size);
  background: transparent url('../../../images/delete-icon.svg') center no-repeat;
  background-size: var(--size) var(--size);
  border: none;
  cursor: pointer;
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card__delete-button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}